<html>

<!-- head is information not displayed on the page -->
<head>
  <% include partials/head %>

</head>

<!-- Body is what is displayed on the page -->
<body>

  <div class="wrapper">

    <div class="header">
      <% include partials/header %>
    </div>

    <div class="nav">
      <% include partials/nav %>
    </div>

    <div class="main">

      <div>
        Current balance: <%= data[data.length-1].balance %> 円
      </div>

      <div id="chart"></div>

    </div> <!-- end of main -->

    <div class="footer">
      <% include partials/footer %>
    </div>

  </div>

  <%
  toLocaleStringOptions = {
    hour12: false,
    year:'numeric',
    month:'2-digit',
    day: '2-digit',
  }
  %>

  <script type="text/javascript">

  var date_array = ['x'];
  var balance_array = ['balance'];

  <% for(var i=0; i<data.length; i++) { %>
    date_array.push('<%= data[i].date.toLocaleString("ja-JP", toLocaleStringOptions) %>');
    balance_array.push(<%= data[i].balance %>);
  <% } %>


  var chart = c3.generate({
    data: {
      x: 'x',
      columns: [date_array, balance_array],
    },
    point: {
      show: false,
    },
    subchart: {
      show: true
    },
    axis: {
      x: {
        label: 'Date',
        type: 'timeseries',
        tick: {
          format: '%y/%m/%d',
          count: 10,
        },
      },
      y: {
        label: 'Balance [円]',
        tick: {
          format: d3.format("~s"),
        }
      },
    },
    legend: {
      show: false
    },
    grid: {
      y: {
        show: true
      }
    }
  });

  </script>

</body>

</html>
