<html>

<!-- head is information not displayed on the page -->
<head>
  <% include partials/head %>

</head>

<!-- Body is what is displayed on the page -->
<body>

  <div class="wrapper">

    <div class="header">
      <% include partials/header %>
    </div>

    <div class="main">

      <!-- Embed everything into a form to avoid unnecessary divs -->
		  <form class="login_form" method="post" action="/login">

        <% if(typeof error_message !== 'undefined'){%>
				<div class="login_error_message">
						<%= error_message %>
	      </div>
        <%}%>

	      <input type="text" name="user" placeholder="Username"><br>
	      <input type="password" name="password" placeholder="Password"><br>
	      <input type="submit" value="Login">

		  </form>

    </div> <!-- end of main -->

    <div class="footer">
      <% include partials/footer %>
    </div>

  </div>


</body>

</html>
